@media (min-width: 769px){
  html {
    line-height: 1;
  }
  body{
    margin: 0;
  }
  *{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  ul{
    list-style: none;
  }

  .header{
    background-color: hsl(192, 94%, 31%);
    height: 80px;
    margin: auto;
    padding: 0 20px;
  }
  
  .header__inner{
    background-color: hsl(83, 42%, 36%);
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  logo__box{
    background-color: lab(15.71% -11.57 18.04); 
   }

   .header__logo{
    font-size: 27px;
   }

   .header__list{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-left: 20px;
  }

  .header__item{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
  }

  .future{
    background-color: lch(69.4% 72.69 324.48);
  }

  .future__inner{
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px 100px 20px;
  }

  .future__title{
    background-color: lab(82.84% 4.6 41.49);
    font-size: 32px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 47px;
  }    

  .future__box{
    background-color: lch(48.26% 84.3 297.67);
    display: flex;
  }

  .img{
    max-width: 100%;
    height: auto;
    background-position: center; 
  }
  
  .text-area{
    background-color: rgb(84, 158, 14);
    margin-left: 60px;
  }

  .text-area__title{
    color: #555555;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 30px 0 0 0;
  }

  .text-area__desk{
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .cta-btn{
    display: inline-block;
    padding: 15px 57px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #EFA358;
  }

  .footer{
    background-color: #EFA358;
    padding: 22px 0 19px;
    text-align: center;
    position: sticky; bottom: 0;
    width: 100%;

    position: fixed; 
  }

  .footer__logo{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  .copylight{
    color: #fff;
    text-align: center;
  }

  

   }

  }